.htmltable {
  width: 100%;
  position: relative;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.stripped tr:nth-child(even) {
  background-color: #dddddd;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: whitesmoke;
}
