.accordion-btn {
    text-align: left;
    min-width: 80px;
    cursor: pointer;
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border: none;
    background-color: unset;
}

.accordion-btn:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
}

.accordion-item {
    display: grid;
    grid-template: auto auto;
    grid-gap: 4px;
    grid-auto-flow: row;
}

.accordion-contents {
    overflow-y: hidden;
    text-align: justify;
}

.tab-buttons {
    display: flex;
}

.tab-btn {
    text-align: center;
}

.tab-items {
    position: relative;
    min-height: 120px;
    display: flex;
}

.tab-item {
    position: absolute;
    overflow-y: hidden;
}