.badge {
  hyphens: auto;
  line-height: var(--text-line-height);
  text-overflow: clip;
  font-weight: 300;
  display: flex;
}
.badge.icon-right {
  /* flex-direction: row-reverse; */
}
.badge.xl {
  font-size: var(--xl-font-size);
}
.badge.lg {
  font-size: var(--lg-font-size);
}
.badge.md {
  font-size: var(--md-font-size);
}
.badge.sm {
  font-size: var(--sm-font-size);
}
.badge.xs {
  font-size: var(--xs-font-size);
}
.green {
  background-color: aquamarine;
}
.violet {
  background-color: rgb(197, 184, 252);
}
.badge .icon {
  display: inline;
  padding-right: var(--unit) / 4;
  padding-left: var(--unit) / 4;
}
